<!--change routing-->

<p style="display: none">{% block title %}About{% endblock %}</p>
<h1>What does our program do?</h1>
<h2>Our program allows you to construct an RPG campaign for DnD.</h2>
<a href="{{ url_for('hero') }}">Use Defne's prompt to inspire your hero</a><br><br>
<a href="{{ url_for('villain') }}">Use Eliora's prompt to vanquish your villain</a><br><br>
<a href="{{ url_for('setting') }}">Use Zev's prompt to discover your surroundings</a><br><br>
<a href="{{ url_for('quest') }}">Use Madina's prompt to begin your quest</a><br><br>
<br />
<h1>How does it work?</h1>
<ul>
    <li>Defne's prompt generates a hero</li>
    <li>Eliora's prompt generates a villain</li>
    <li>Zev's prompt generates a setting</li>
    <li>Madina's prompt generates a quest</li>
</ul>