<h1>Inspire your Hero</h1>
<p>
    Enter a quest or multiple quests below, and press submit to see what
    quest they are! The more details, the better GPT's response.
</p>
<p>
  Examples:
  <ul>
    <li>A six headed dragon</li>
    <li>A misunderstood dwarf</li>
    <li>A ruthless assassin</li>
  </ul>
</p>
<form method="post" action="/hero">
  <input class="input" name="prompt" type="text" />
  <input type="submit" value="get response" />
</form>