<h1>Vanquish Your Villain</h1>
<p>
  Enter a character or multiple characters below, and press submit to see what
  villain they're facing! The more details, the better GPT's response.
</p>
<p>
  Examples:
  <ul>
    <li>Elf rogue</li>
    <li>Couple on their first date</li>
    <li>Man and his dog</li>
  </ul>
</p>
<form method="post" action="/villain">
  <input class="input" name="prompt" type="text" />
  <input type="submit" value="get response" />
</form>