<!--add navbar, change routing-->

<h1>A Hero's Journey</h1>

<div class="container">
  <div class="routes">
    <h2><a href="{{ url_for('hero') }}">Inspire Your Hero</a></h2>
    <h2><a href="{{ url_for('villain') }}">Vanquish Your Villain</a></h2>
    <h2><a href="{{ url_for('setting') }}">Discover Your Surroundings</a></h2>
    <h2><a href="{{ url_for('quest') }}">Begin Your Quest</a></h2>
  </div>
  <img
    src="{{ url_for('public', filename='dnd.jpg') }}"
    alt="Dnd banner art"
    class="dnd" />
</div>

<br />

<br />
<a href="{{ url_for('main') }}">Return Home</a>