<h1>A Hero's Journey</h1>

<div class="container">
  <div class="routes">
    <h2><a href="/hero">Inspire Your Hero</a></h2>
    <h2><a href="/villain">Vanquish Your Villain</a></h2>
    <h2><a href="/setting">Discover Your Surroundings</a></h2>
    <h2><a href="/quest">Begin Your Quest</a></h2>
  </div>
    <img src="/dnd.jpg" alt="Dnd banner art" class="dnd" />
</div>