<h1>Start your quest</h1>
<p>
    Enter a quest or multiple quests below, and press submit to see what
    quest they are! The more details, the better GPT's response.
</p>
<p>
  Examples:
  <ul>
    <li>Defeat dragon</li>
    <li>Rescue captive</li>
    <li>Explore ruins</li>
  </ul>
</p>
<form method="post" action="/quest">
  <input class="input" name="prompt" type="text" />
  <input type="submit" value="get response" />
</form>